* {
  box-sizing: border-box;
}

.displayResume {
  width: 210mm;
  height: 297mm;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: #ffffff;
  color: #111111;
}

.cv-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.cv-left,
.cv-right {
  vertical-align: top;
  padding: 0;
}

.cv-left {
  width: 35%;
  background: #1f1f1f;
  color: #ffffff;
}

.cv-right {
  width: 65%;
  background: #ffffff;
  color: #111111;
}

.cv-left-inner,
.cv-right-inner {
  padding: 12mm;
}

.cv-photo {
  width: 140px;
  height: 140px;
  margin: 0 auto 10mm auto;
}

.pdp-preview {
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  display: block;
  object-fit: cover;
  border: 3px solid #ffffff;
}

.cv-block {
  margin-bottom: 8mm;
}

.cv-title {
  margin: 0 0 5mm 0;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffc107;
}

.cv-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mail-preview,
.tel-preview {
  color: #cfcfcf;
  line-height: 1.35;
}

.skills-preview,
.hobbies-preview {
  color: #cfcfcf;
  line-height: 1.35;
}

.skills-preview > div,
.hobbies-preview > div {
  margin-bottom: 3mm;
}
.skills-preview > div:last-child,
.hobbies-preview > div:last-child {
  margin-bottom: 0;
}

.cv-identity {
  margin-bottom: 8mm;
  border-bottom: 2px solid #111111;
  padding-bottom: 6mm;
}

.cv-name {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #111111;
}

.job-title-preview {
  margin: 2mm 0 0 0;
  font-size: 13px;
  font-style: italic;
  color: #666666;
}

.introduction-preview {
  margin: 2mm 0 0 0;
  font-size: 11px;
  color: #777777;
  line-height: 1.35;
}

.cv-section {
  margin-top: 8mm;
}

.cv-section-title {
  margin: 0 0 5mm 0;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  color: #111111;
}

.experiences-preview > div,
.courses-preview > div {
  margin-bottom: 6mm;
}

.experiences-preview h6,
.courses-preview h6 {
  margin: 0 0 1.5mm 0;
  font-size: 12px;
  font-weight: 700;
  color: #111111;
}

.experiences-preview p,
.courses-preview p {
  margin: 0 0 1.5mm 0;
  font-size: 11px;
  color: #222222;
  line-height: 1.35;
}

.experiences-preview p:last-child,
.courses-preview p:last-child {
  margin-bottom: 0;
}
